.logo-name{
    font-weight: 600;
    font-size: 2rem;
    color: #ebcf42;
}
  // invalid error
.invalid-feedback,
.valid-feedback {
  position: relative;
  display: flex;
  text-align: left;
  margin-top: 0;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  padding:  .3rem;
  border-radius: 3px;
  background: #dc3545;
  box-shadow: 0px 10px 25px 0px rgba(123, 147, 171, 0.15%);
}

.valid-feedback {
  background: #28a745;
  &::before {
    color: #28a745;
  }
}

.white-onboarding-container {
  background-color: white;
  border-radius: 8px;
  bottom: 0;  
  padding: 1rem;
  color: #000;
}

.title-1 {
  font-size: 62px;
  line-height: 88.35px;
  color: #000;
}

.educated {
  color: #3fb1b5;
}